.your-style {
  font-family: 'Compagnon';
  font-weight: normal;
  font-style: italic;
}
body{
  font-family: 'Saira Condensed', sans-serif;
    background-color:  pink;
    font-size: 36px;
    font-weight: bold;
}
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: orange;
    border: 1vw solid orange;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    font-weight: bold;
    color: orange;

  }
  
  .entries {
    margin-bottom: 60px;
  }
  
  .heading {
    margin-bottom: 60px;
  }
  
  .chapter {
    letter-spacing: 10px;
  }
  
  p {
    margin: 0;
  }
  
  .page {
    margin-top: 10px;
  }
  
  
  span {
    display: block;
  }