h1{
    text-align: left;
    padding-top: 2%;
    padding-left: 2%;
    color:  lawngreen;
    font-size: 150px;
    font-family: 'Changa', sans-serif;
}
body{
    background-color: black;
}


.flex-container {
display: flex;
flex-direction: column;
padding-left: 75%;

}
.flex-container > div {
    margin: 5px;
    width: 300px;
    text-align: right;
}

#p1{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}
#p2{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}
#p3{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}
#p4{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}
#p5{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}
#p6{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color:lawngreen;
}
a.hover{
    color: rgb(214, 252, 0);
    text-decoration: none;
}
a.visited{
    color: #4F7942;
}

footer{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    padding-top:3%;
    margin-left: 10px;
}
